@model IEnumerable<OOP_Final_Project.Models.Exam>

@{
    ViewBag.Title = "ExamPage";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/custom.css" />
    <style>

        table {
            padding: 30px 0 30px 0;
            background-color: #E5DDC5;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid black;
            margin-bottom: 40px;
            margin-top: 40px;
            text-align: center;
        }

        tbody {
            display: table-row-group;
            vertical-align: middle;
        }

        th, td {
            padding: 8px;
        }

        .d-container {
            display: flex;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        dl {
            margin-top: 40px;
            margin-bottom: 40px;
            background-color: #E5DDC5;
            padding: 20px;
            border-radius: 10px;
            width: 330px;
            border: 1px solid black;
        }

        dt {
            width: 100px;
            margin-right: 30px;
        }

        dd {
            margin-left: 30px;
        }
    </style>
</head>
<body>

    <h2>Exam List</h2>
    <h4>Admin account</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Coefficient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td colspan="4" class="line" style=" padding: 0px;"></td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coefficient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                </tr>
            </tbody>
        }

    </table>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>