@model IEnumerable<OOP_Final_Project.Models.Account>

@{
    Layout = null;
    if (Session["id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Back to Menu", "Index")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>
    @if (!Model.Any())
    {
        @Html.DisplayName("No Cohort")
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FisrtName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>