@model OOP_Final_Project.Models.Exam

@{
    ViewBag.Title = "DetailsExam";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/custom.css" />
    <style>
        .d-container {
            display: flex;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        dl {
            margin-top: 40px;
            margin-bottom: 40px;
            background-color: #E5DDC5;
            padding: 20px;
            border-radius: 10px;
            width: 330px;
            border: 1px solid black;
        }

        dt {
            width: 100px;
            margin-right: 30px;
        }

        dd {
            margin-left: 30px;
        }

        a {
            text-decoration: none;
            background-color: #C6EBC5;
            color: var(--gray-700);
            padding: 1px 7px 1px 7px;
            border-radius: 10px;
            border: 1px solid gray;
            margin-left: 8px;
            margin-right: 8px;
        }
    </style>
</head>
<body>

    <h2>DetailsExam</h2>

    <div>
        <h4>Exam</h4>
        <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Coefficient)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Coefficient)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Course.CourseName)
                </dd>

            </dl>
</div>
    <p>
        @Html.ActionLink("Edit", "EditExam", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")

    </p>
</body>
</html>