﻿@model OOP_Final_Project.Models.Account

@{
    //Roxane Seibel 74527 - Jon Gouspy 74538 - Sylvain Gross 74525 - Leith Chakroun 74529
    Layout = null;
    if (Session["id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

    ViewBag.Title = "Student Account";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/custom.css" />
    <style>
        .d-container {
            display: flex;
            margin-bottom: 15px;
            margin-top: 15px;
        }



        dl {
            margin-top: 40px;
            margin-bottom: 40px;
            background-color: #E5DDC5;
            padding: 20px;
            border-radius: 10px;
            width: 380px;
            border: 1px solid black;
        }

        dt {
            width: 100px;
            margin-right: 30px;
        }

        dd {
            margin-left: 30px;
        }
    </style>
</head>
<body>

    <h2>@ViewBag.Title</h2>
    <h4>Teacher Account</h4>
    <hr />

    <dl class="dl-horizontal">

        <div class="d-container">
            <dt>
                @Html.DisplayNameFor(model => model.FisrtName)
            </dt>
            |
            <dd>
                @Html.DisplayFor(model => model.FisrtName)
            </dd>
        </div>
        <hr />


        <div class="d-container">
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            |
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
        </div>
        <hr />



        <div class="d-container">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            |
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <hr />



        <div class="d-container">
            <dt>
                @Html.DisplayNameFor(model => model.AccountType)
            </dt>
            |
            <dd>
                @Html.DisplayFor(model => model.AccountType)
            </dd>
        </div>
        <hr />



        <div class="d-container">
            <dt>
                @Html.DisplayNameFor(model => model.Cohort.CohortName)
            </dt>
            |
            <dd>
                @Html.DisplayFor(model => model.Cohort.CohortName)
            </dd>
        </div>



    </dl>
    @Html.ActionLink("Back to Menu", "Index")
    @Html.ActionLink("Back to Cohort", "CohortPage", new { id = ViewBag.CohortId })
</body>
</html>
