@model IEnumerable<OOP_Final_Project.Models.Cohort>

@{
    Layout = null;
    if (Session["id"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Exam List", "ExamPage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CohortName)
        </th>
        <th>
            @Html.DisplayName("Number Of Student")
        </th>
        <th></th>
    </tr>
    @if (!Model.Any())
    {
        @Html.DisplayName("No Cohort")
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CohortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Count)
                </td>
                <td>
                    @Html.ActionLink("Details", "CohortPage", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>